<div class="container">
	<div class="row">
		<div class="col-lg-7">
			<h1 id="headline">Welcome</h1>
		</div>
		<div class="col-lg-5">
			<button class="btn btn-info" id="seconBtn" onclick="location.href='/newPatientForm'" role="button">Add New Patient</button>
			<button class="btn btn-info" id="seconBtn" onclick="location.href='/prescription'" role="button">Add New Prescription</button>
		</div>
	</div>
		<hr>
	<div class="row">
		<h3 id="subHead" onclick="test()">Recent Patients</h3>
	</div>
</div>
