<div class="container">
	<div class="row">
		<div class="col-lg-7">
			<h1 id="headline">Welcome</h1>
		</div>
		<div class="col-lg-5">
			<button class="btn btn-info" id="seconBtn" onclick="location.href='/newPatientForm'" role="button">Add New Patient</button>
			<button class="btn btn-info" id="seconBtn" onclick="location.href='/prescription'" role="button">Add New Prescription</button>
		</div>
	</div>
		<hr>
	<div class="row">

		<h3 class="subHead">Recent Patients</h3>
    </div>
	


<div class="row">

  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">DOB</th>
      <th scope="col">Prescription</th>
    </tr>
  </thead>

  <tbody>
      {{#each patients}}
    <tr>
      <th scope="row">{{this.name}}</th>
      <td>{{this.DOB}}</td>
      <td>{{this.prescriptions}}</td>
    </tr>
    {{/each}}
   
  </tbody>
</table>
 
</div>
</div>