<div class="container">
  <div class="row">
    <div class="col-lg-11">
      <h1 id="headline">New Patient</h1>
    </div>
    <div class="col-lg-1">
      <button class="btn btn-info" id="seconBtn" onclick="location.href='/home'" role="button"><i class="fas fa-home"></i></button>
    </div>
  </div>
    <hr>
  <div class="row">
    <div class="col-lg-7">
        <div class="form-group">
          <label for="patientName" id="subHead">Name:</label>
          <input type="text" class="form-control" id="patientName" placeholder="Name">
        </div>
        <div class="form-group">
          <label for="patientAge" id="subHead">Date of Birth:</label>
          <input type="text" class="form-control" id="patientDOB" placeholder="YYYY-MM-DD ">
        </div>
        <div class="form-group">
          <label for="patientComments" id="subHead">Prescriptions:</label>
          <input type="text" class="form-control" id="patientRx" placeholder="Prescriptions"></textarea>
        </div>
        <div class="form-group">
          <label for="patientComments" id="subHead">Additional Comments:</label>
          <textarea class="form-control" aria-label="With textarea" id="patientComments"></textarea>
        </div>
    </div>
  </div>

    <button class="btn btn-info" onclick="createPatient()" id="newPatient">Submit Patient</button>
</div>

<script>



  function createPatient(){
    var newPatient = {
      name: $("#patientName").val().trim(),
      DOB: $("#patientDOB").val(),
      prescription: $("#patientRx").val(),
      comments: $("#patientComments").val()
      }
      patients.createPatient(function(result){
        alert("New patient added");
      }, newPatient);
      patients.getPatients(function(result) {
        window.location.href = "/home";
      })
    };

</script>
