<div class="container">
  <div class="row">
    <div class="col-lg-11">
      <h1 id="headline">New Patient</h1>
    </div>
    <div class="col-lg-1">
      <button class="btn btn-info" id="seconBtn" onclick="location.href='/home'" role="button"><i class="fas fa-home"></i></button>
    </div>
  </div>
    <hr>
  <div class="row">
    <div class="col-lg-7">

        <div class="form-group">
          <label for="patientName" id="subHead">Name:</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="fas fa-user"></i></span>
            <input id="patientName" placeholder="Name" class="form-control" type="text">
          </div>
        </div>

        <div class="form-group">
          <label for="patientAge" id="subHead">Date of Birth:</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="fas fa-calendar-alt"></i></span>
            <input id="patientDOB" placeholder="YYYY-MM-DD" class="form-control" type="text">
          </div>
        </div>

        <div class="form-group">
          <label for="patientComments" id="subHead">Prescriptions:</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="fas fa-pills"></i></i></span>
            <input name="Prescriptions" id="patientRx" placeholder="Prescriptions" class="form-control" type="text">
          </div>
        </div>

        <div class="form-group">
          <label for="patientComments" id="subHead">Additional Comments:</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="fas fa-comments"></i></i></span>
          	<textarea class="form-control" name="comment" id="patientComments" placeholder="Comments"></textarea>
          </div>
        </div>

    </div>
  </div>

    <button class="btn btn-info" onclick="createPatient()" id="newPatient">Submit Patient <span class="fas fa-paper-plane"></span></button>
</div>

<script>

function createPatient(){
  var newPatient = {
    name: $("#patientName").val(),
    DOB: $("#patientDOB").val(),
    prescription: $("#patientRx").val(),
    comments: $("#patientComments").val()
  }
  patients.createPatient(function(result){
    alert("New patient added");
  }, newPatient);
  patients.getPatients(function(result) {
    window.location.href = "/home";
  })
};

</script>
