<div class="container">
  <div class="row">
    <h1 id="headline">New Prescription</h1>
  </div>
    <hr>

  <div class="row">
    <div class="col-lg-8">
      
    
    <div class="form-group">
      <label for="sel1">Select Patient:</label>
      <select class="form-control" id="sel1">
        {{#each patients}}
        <option>{{name}}</option>
        {{/each}}        
      </select>
    </div>
    </div>
  </div>
  
  
    <hr>
  <div class="row">
    <div class="col-lg-8">
        <div class="form-group">
          <label for="rxName" id="subHead">Drug:</label>
          <input type="text" class="form-control" id="rxName" placeholder="Name">
        </div>
        <div class="form-group">
          <label for="rxCatagory" id="subHead">Drug Category:</label>
          <input type="text" class="form-control" id="rxCategory" placeholder="Category">
        </div>
        <div class="form-group">
          <label for="rxQuantity" id="subHead">Drug Quantity:</label>
          <input type="number" class="form-control" id="rxQuantity" placeholder="Quantity">
        </div>
        <div class="form-group">
          <label for="paientComments" id="subHead">Additional Comments:</label>
          <textarea class="form-control" aria-label="With textarea" id="rxComments"></textarea>
        </div>
    </div>
	</div>

    <button class="btn btn-info" onclick="location.href='/home'" id="newPrescription">Submit Prescription</button>

</div>


<script>

  function createPrescription(){
    var newPrescription = {
      name: $('#rxName').val().trim(),
      category: $('#rxCategory').val().trim(),
      stock: $('#rxQuantity').val().trim(),
    }
    prescriptions.createPrescription(function(result){
      alert(result);
    }, newPrescription);
  }
</script>
