<div class="container">
  <div class="row">
    <h1 id="headline">Update Patient</h1>
  </div>
    <hr>
  <div class="row">
    <div class="col-lg-7">
        <div class="form-group">
          <label for="patientName" id="subHead">Name:</label>
          <input type="text" class="form-control" id="patientName" placeholder="Name">
        </div>
        <div class="form-group">
          <label for="patientAge" id="subHead">Date of Birth:</label>
          <input type="text" class="form-control" id="patientDOB" placeholder="DD/MM/YYYY">
        </div>
        <div class="form-group">
          <label for="patientComments" id="subHead">Additional Comments:</label>
          <textarea class="form-control" aria-label="With textarea" id="patientComments"></textarea>
        </div>
    </div>
  </div>

    <button class="btn btn-info" onclick="location.href='/home'" id="newPatient">Submit Update</button>

</div>

<script>

  function createPatient(){
    var newPatient = {
      name: $("#patientName").val().trim(),
      DOB: (new Date()).getTime()
      }
      patients.createPatient(function(result){
        alert(result);
      }, newPatient);
    };

</script>
