#landing {
  background-color: #ddf1fa;
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
}

#headline {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 75px;
  color: #546E7A;
}

#subHead {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 25px;
  color: #37474F;
}

#body {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  color: #616161;
}

#seconBtn {
  margin-top: 45px;
}

.modal-backdrop {
  background-color: #333333;
  opacity: 0.8;
}
#updateModal {
  background-color: #333333;
  opacity: 0.8;
}
